### 1. 复数

In [2]:
a = 1+8j

In [4]:
print a.real
a.imag

1.0

8.0

In [7]:
# 共轭复数
a.conjugate()

(1-8j)

### 2. 类型转换

In [8]:
# 转为复数
complex(1)

(1+0j)

### 3. 进制

In [9]:
# 二进制
0b101100

44

In [11]:
# 八进制
077

63

In [30]:
# 十六进制
0xFF

255

In [31]:
# 十进制->其他
print hex(99)
print oct(99)
print bin(99)

0x63
0143
0b1100011

In [33]:
# ASCII码
ord('a')

97

In [34]:
chr(97)

'a'

### 4. 字符串

In [15]:
"abx"*3

'abxabxabx'

In [16]:
len('nihao')

5

In [18]:
# 分割
s = 'hello,world,i,am,lucy'
s.split(',')

['hello', 'world', 'i', 'am', 'lucy']

In [21]:
print s.split(',', 1)
s.rsplit(',', 1)

['hello', 'world,i,am,lucy']

['hello,world,i,am', 'lucy']

In [24]:
# 连接:前面可指定，例如用分号连接
num = ['m1', 'm2', 'm3']
';'.join(num)

'm1;m2;m3'

In [26]:
# 替换
s = 'hello, jack and jack'
print s.replace('jack', 'lucy')
print s.replace('jack', 'lucy', 1)

hello, lucy and lucy
hello, lucy and jack

In [27]:
# 大小写转化
s = 'World'
print s.upper()
print s.lower()

WORLD
world

In [29]:
# 去掉字符串两端多余空格
s = '  --  hello-   '
print s.strip()
print s.lstrip()
print s.rstrip()
print s.strip('-')

--  hello-
--  hello-
  --  hello-
  --  hello-

In [35]:
# 格式化
name, age = 'Jack', 32
'{} is {} years old'.format(name, age)

'Jack is 32 years old'

In [36]:
a = 3
'{0} * {0} * {0} is {1}'.format(a, a**3)

'3 * 3 * 3 is 27'

In [37]:
# 指定输出格式

# 指定字符串，长度为10，不够用空格补充
'{:10s} is good'.format('lucy')

'lucy       is good'

In [39]:
'{:10d} is good'.format(100)

'       100 is good'

In [3]:
# unicode编码
b = u'梨花'
print type(b)
print len(b)

<type 'unicode'>
2

### 5. 列表

In [6]:
s = 'wold'
s[1:3]

'ol'

In [7]:
s[1:-1]

'ol'

In [14]:
# 删除
a = [192, 23, 'd', 32, 43,  'abx']
del a[1]
a

[192, 'd', 32, 43, 'abx']

In [15]:
# 间隔一个删除一个
del a[::2]
a

['d', 43]

In [18]:
# 判断从属关系
print 'd' in a
print 32 not in a

True
True

In [19]:
# 查询
a.count('d')

1

In [20]:
a.index('d')

0

In [23]:
# 添加
a.append(43)
a.append(['lili', 'moda'])
a.insert(2, 's')

In [25]:
# 删除
a.remove('s')

In [26]:
a.pop(2)

43

In [32]:
# 排序
a.sort()
a

[43, 43, 43, ['lili', 'moda'], ['lili', 'moda'], 'd']

In [33]:
a.sort(reverse=True)
a

['d', ['lili', 'moda'], ['lili', 'moda'], 43, 43, 43]

In [42]:
print sorted(a)
print a

[43, 43, 43, ['lili', 'moda'], ['lili', 'moda'], 'd']
['d', ['lili', 'moda'], ['lili', 'moda'], 43, 43, 43]

In [45]:
a.reverse()
print a

[43, 43, 43, ['lili', 'moda'], ['lili', 'moda'], 'd']

### 6. 元组

In [46]:
# 不可改变的列表
t = 2, 4, 3, 'sa'

In [47]:
a = list(t)

In [49]:
b, c = '2', 43
b, c = c, b

In [51]:
s = 'hello Hallen'
s = s.replace('Hallen', 'Mike')
s

'hello Mike'

### 7. 字典

In [53]:
b = {'one':1, 'two':2, 'four':4}
# 获取
b['one']

1

In [54]:
b.get('three', 'undefined')

'undefined'

In [55]:
# 删除
b.pop('one', 'undefined')

1

In [56]:
del b['two']

In [58]:
# 更新
c = {'lili':32, 'pipi':21, 'four':0}
c

{'four': 0, 'lili': 32, 'pipi': 21}

In [61]:
# 查询
print c.keys()
print c.values()
print c.items()

['four', 'pipi', 'lili']
[0, 21, 32]
[('four', 0), ('pipi', 21), ('lili', 32)]

In [64]:
# 合并
a, b = {1, 2, 3, 4}, {32, 21, 54, 76, 77, 45, 1}
print a|b
print a.union(b)

print a&b
print a.intersection(b)

print a-b
print a.difference(b)

# 对称差集：两个集合的并集与交集的差
print a^b

set([32, 1, 2, 3, 4, 76, 45, 77, 21, 54])
set([32, 1, 2, 3, 4, 76, 45, 77, 21, 54])
set([1])
set([1])
set([2, 3, 4])
set([2, 3, 4])
set([32, 2, 3, 4, 21, 54, 76, 45, 77])

In [65]:
print a>=b

False

### 8. 赋值机制

In [67]:
x = [1, 2]
y = x
y[0] = 100
x

[100, 2]

In [69]:
print id(x)
print id(y)
print x is y

86875144
86875144
True

In [70]:
# 列表赋值会改变，基本类型赋值不会改变；这与列表存储的是数值所在地址有关
# 如果想要赋值列表，可以利用生成函数
y = list(x)